[Desktop Entry]
Type=Application
Name=RepoShelf
Comment=Browse and download jailbreak repository packages
Exec=reposhelf
Icon=io.github.sticklerer.RepoShelf
Terminal=false
Categories=Utility;Network;
StartupNotify=true
